<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/styles.css" />
  <link rel="icon" href="/assets/logo.png" type="image/png" />
</head>
<body>
	<div class="container">
		<div class="card title-card">
		  <a href="/" class="title-link" aria-label="Home">
			<img src="/assets/logo.png" class="logo" alt="">
			<span class="title-text">BetaFest</span>
		  </a>
		  <div class="social-buttons">
			<a href="https://github.com/BetaFest" aria-label="GitHub"><img src="/assets/github.svg" alt="GitHub"></a>
			<a href="https://modrinth.com/organization/betafest" aria-label="Modrinth"><img src="/assets/modrinth.svg" alt="Modrinth"></a>
			<a href="https://bsky.app/profile/betafest.dannytaylor.dev" aria-label="Bluesky"><img src="/assets/bluesky.svg" alt="BlueSky"></a>
			<a href="https://discord.gg/ytrCGrQRv2" aria-label="Discord"><img src="/assets/discord.svg" alt="Discord"></a>
		  </div>
		</div>

	  {{ content }}
	</div>
  <footer class="site-footer">
    <div class="container">
      <p><a href="/about">About</a> | See site source <a href="https://github.com/BetaFest/website">here</a>. | <a href="/dev">BetaFest Developer Tools</a></p>
    </div>
  </footer>
</body>
</html>
